<div class="container">
  <h2 class="text-center text-success">Location List</h2>

  <!-- Table for Location List -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Location Name</th>
        <th>Address Line</th>
        <th>City</th>
        <th>State</th>
        <th>Postal Code</th>
        <th>Country Name</th>
        <th>Status</th>
        <th>Photo</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let location of locations">
        <td>{{ location.locationName }}</td>
        <td>{{ location.addressLine }}</td>
        <td>{{ location.city }}</td>
        <td>{{ location.state }}</td>
        <td>{{ location.postalCode }}</td>
        <td>{{ location.countryName }}</td>
        <td>{{ location.isActive ? 'Active' : 'Inactive' }}</td>
        <td>
          <img [src]="location.photo" alt="{{ location.locationName }}"
            style="border-radius: 1rem; width: 50px; height: 50px;">
        </td>
        <td>
          <button class="btn btn-info" (click)="updateLocation(location.id)">Edit</button>
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteLocation(location.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Buttons for Creating New Records -->
  <div class="row">
    <ul class="list-group">
      <li class="d-flex py-3">
        <button class="btn btn-info text-white me-3" routerLink="/employees/create">Create New Employee</button>
        <button class="btn btn-success" routerLink="/locations/create">Create New Location</button>
      </li>
    </ul>
  </div>
</div>