/* mat-nav-list mat-list-item {
  cursor: pointer;
}

mat-nav-list mat-list-item mat-nav-list {
  padding-left: 20px;
}

mat-list-item button {
  margin-left: auto;
} */

/* Semi Old */

/* .sidenav-container {
  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
  width: 200px;
  background-color: #f8f9fa;
  height: 100vh;
  overflow-y: auto;
}


.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #f8f9fa;
  padding: 10px;
  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
}

.expand-icon {
  margin-left: auto;
}

.submenu {

  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
  padding-left: 20px;
  background-color: #f8f9fa;
} */

/* Old Design */

/* .sidenav-container {
  height: 100vh;
  width: 200px;
} */

/* .mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
} */

/* .submenu {
  padding-left: 16px;
  padding-left: 20px;
} */

/* .btn {
  text-decoration: none;
  color: #fff;
  background-color: rgb(5, 150, 123);
  border-radius: 6px;
  transition: background-color 0.3s;
}


button:hover {
  background-color: #b3003f;
} */