<!-- Navbar -->
<!-- <div class="top col-lg-11 col-md-12 col-12 ps-lg-5">
  <h1> IsDB-BISEW HR System </h1>
  <h6> Md Raju Ahmed</h6>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">HR Management</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navigation links based on user roles -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <ng-container *ngIf="userRole === 'Admin'">
          <!-- Admin-specific links -->

          <!-- Student Panel -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Employee Panel
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/createemployee">Add Employee</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/employees">View Employee</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="employee/:id">Employee Profile</a></li>
              </ul>
            </li>
          </ul>
          <!-- Location Panel -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Location Panel
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/createlocation">Add Location</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/location">View Location</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="#">Location Details</a></li>
              </ul>
            </li>
          </ul>
          <!-- Admin Panel -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Admin Panel </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/reg">Create Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/user">View Registered Profile</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/userprofile">Current User Profile</a></li>
              </ul>
            </li>
          </ul>
        </ng-container>
        <ng-container *ngIf="userRole === 'User'">
          <!-- User-specific links -->
          <!-- Student Panel -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Employee Panel
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="#">View Employee</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="#">Employee Profile</a></li>
              </ul>
            </li>
          </ul>
          <!-- Location Panel -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Location Panel
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/location">View Location</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="#">Location Details</a></li>
              </ul>
            </li>
          </ul>
        </ng-container>
      </ul>

      <!-- Profile and Search Forms -->
      <ng-container *ngIf="userRole">
        <form class="d-flex me-4 me-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <!-- Profile dropdown -->
        <ul class="navbar-nav me-4 me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Profile </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="/userprofile">View Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/logout">Log Out</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" routerLink="/forgot-password">Forget Password?</a>
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>

      <!-- Log In Button: Only show if no user is logged in -->
      <ng-container *ngIf="!userRole">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="btn btn-info text-white" routerLink="/login" role="button" aria-expanded="false">
              Log In
            </a>
          </li>
        </ul>
      </ng-container>

    </div>
  </div>
</nav>