<!-- Footer -->
<footer class="container-fluid bg-white text-dark">
  <div class="container col-lg-9 col-md-9 col-12">
    <div class="row mt-3">
      <div class="col-md-7">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>

  </div>
  <!-- footer starts -->
  <div class="p-1 text-center">
    <div class="container">
      <p class="text-dark mt-3" id="copyright">All Right Reserved By <a class="navbar-brand" href="#"> <span
            class="text-warning">IsDB</span><span class="text-dark">-</span><span class="text-danger">BISEW</span>
        </a>
        <br>
        Copyright 2024
      </p>
      <!-- Jump Button -->
      <div class="btntoTop active"></div>
      <button type="button" id="jump" class="btn btn-outline-warning fixed-bottom">
        <a href="#" class="text-light text-decoration-none"> Jump ⬆ Top </a>
      </button>
      <!-- Jump Button End -->
    </div>
  </div>
  <!-- footer ends -->
</footer>