<!-- listlocation.component.html -->
<div class="container mt-4">
  <h2>Locations</h2>
  <div *ngIf="locations.length > 0; else noLocations">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Location ID</th>
          <th>Photo</th>
          <th>Name</th>
          <th>Address</th>
          <th>Created At</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locations">
          <td><strong>{{location.id}}</strong></td>
          <td><img [src]="location.photo" alt="{{ location.name }}"
              style="border-radius: 1rem; width: 50px; height: 50px;"></td>
          <td> <strong>{{ location.name }} </strong></td>
          <td><strong> {{ location.address }},
              {{ location.city }}
              {{ location.zipCode }},
              {{ location.state }},
              {{ location.country }} </strong></td>
          <td> <strong>{{ location.createdAt | date: 'short' }} </strong></td>
          <td>
            <button class="btn btn-info" (click)="viewLocation(location.id)">
              View
            </button>
          </td>
          <td>
            <button class="btn btn-warning" (click)="editLocation(location.id)">
              Edit
            </button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteLocation(location.id)">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Buttons for Creating New Records -->
  <div class="row">
    <ul class="list-group">
      <li class="d-flex py-3">
        <button class="btn btn-info text-white me-3" routerLink="/employees/create">Create New Employee</button>
        <button class="btn btn-success" routerLink="/locations/create">Create New Location</button>
      </li>
    </ul>
  </div>


  <ng-template #noLocations>
    <div class="alert alert-info" role="alert">
      No locations found.
    </div>
  </ng-template>



</div>