.department-list {
  padding: 20px;
}

.department-list h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.department-list ul {
  list-style-type: none;
  padding: 0;
}

.department-list li {
  padding: 8px;
  background-color: #f4f4f4;
  margin-bottom: 5px;
  border-radius: 4px;
}