.container {
  margin-top: 20px;
}

.employee-details {
  margin-top: 20px;
}

.detail-item {
  margin-bottom: 10px;
}

.profile-photo {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-top: 10px;
}

.spinner-border {
  display: block;
  margin: auto;
}

.btn {
  margin-top: 20px;
}
