/* Dropdown Menu Styles
.nav-button.dropdown {
  position: relative;
}

.nav-button.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: var(--navbar-dark-secondary);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 160px;
  z-index: 10;
  top: 100%;
  left: 0;
}

.dropdown-content a {
  color: var(--navbar-light-primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: var(--navbar-light-secondary);
} */

/* Responsive Menu Styles */

/* #nav-toggle:checked ~ #nav-header {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-content,
#nav-toggle:checked ~ #nav-footer {
  width: var(--navbar-width-min);
}
#nav-toggle:checked ~ #nav-content .nav-button span {
  opacity: 0;
}
#nav-toggle:checked ~ #nav-content .nav-button .fas {
  min-width: calc(100% - 16px);
} */
