<div class="location-form container mt-md-2 mb-3">
  <h2 class="container text-center text-success">Create Location Form </h2>

  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 mt-md-2 mb-3">
        <label for="name">Name:</label>
        <input id="name" placeholder="Name is required." formControlName="name" type="text" />
        <div *ngIf="locationForm.get('name')?.invalid && locationForm.get('name')?.touched">
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-12 mt-md-2 mb-3">
        <label for="city">City:</label>
        <input id="city" placeholder="City is required." formControlName="city" type="text" />
        <div *ngIf="locationForm.get('city')?.invalid && locationForm.get('city')?.touched">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-md-12 col-12 mt-md-2 mb-3">
        <label for="state">State:</label>
        <input id="state" placeholder="State is required." formControlName="state" type="text" />
        <div *ngIf="locationForm.get('state')?.invalid && locationForm.get('state')?.touched">
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-12 mt-md-2 mb-3">
        <label for="availableUnits">Available Units:</label>
        <input placeholder="Available units must be at least 1." id="availableUnits" formControlName="availableUnits"
          type="number" />
        <div *ngIf="locationForm.get('availableUnits')?.invalid && locationForm.get('availableUnits')?.touched">
        </div>
      </div>
    </div>

    <div>
      <label for="photo">Photo URL:</label>
      <input id="photo" placeholder="Enter Your Photo URL" formControlName="photo" type="text" />
    </div>


    <div>
      <label for="wifi">WiFi Available:</label>
      <input id="wifi" formControlName="wifi" type="checkbox" />
    </div>

    <div>
      <label for="laundry">Laundry Available:</label>
      <input id="laundry" formControlName="laundry" type="checkbox" />
    </div>

    <div>
      <button type="submit" [disabled]="locationForm.invalid">Create Location</button>
      <button type="button" (click)="resetForm()">Reset</button>
    </div>
  </form>
</div>