<div class="container">
  <h2 class="container text-center text-success">Registered Location List</h2>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Location Name</th>
        <th>City</th>
        <th>State</th>
        <th>Unit</th>
        <th>Photo</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let location of locations | async">
        <td>{{location.name}}</td>
        <td>{{location.city}}</td>
        <td>{{location.state}}</td>
        <td>{{location.availableUnits}}</td>
        <td><img [src]="location.photo" alt="{{location.name}}" style="width: 50px; height: auto;"></td>

        <td>
          <button class="btn btn-info text-white me-1 p-1" (click)="updateLocation(location.id)">Edit</button>
          <button class="btn btn-danger m-1 p-1" (click)="deleteLocation(location.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="list-group ">
    <li class="d-flex me-5 py-3">
      <button class="btn btn-success" routerLink="/createlocation">Add New Location</button>
    </li>
  </ul>

</div>