<div class="container">
  <form (ngSubmit)="updateLocation()">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Location Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="location.name">

    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">City</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="location.city">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">State</label>
      <input type="text" class="form-control" name="state" [(ngModel)]="location.state">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Photo</label>
      <input type="text" class="form-control" name="photo" [(ngModel)]="location.photo">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Unit</label>
      <input type="text" class="form-control" name="availableUnits" [(ngModel)]="location.availableUnits">
    </div>
    <div class="mb-3 form-check">
      <label for="exampleInputPassword1" class="form-label">WIFI</label>
      <input type="checkbox" class="form-check-input" name="wifi" [(ngModel)]="location.wifi">
    </div>
    <div class="mb-3 form-check">
      <label for="exampleInputPassword1" class="form-label">Laundry</label>
      <input type="checkbox" class="form-check-input" name="laundry" [(ngModel)]="location.laundry">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>