<div class="container-fluid g-0">
  <!-- Pass isAuthenticated to the HeaderComponent -->
  <!-- <app-header [isAuthenticated]="isAuthenticated"></app-header> -->

  <div class="container-fluid">
    <div class="row">
      <!-- Conditionally show the sidebar if authenticated -->
      <!-- <div class="col-md-2 bg-light" *ngIf="isAuthenticated"> -->
      <app-sidebar></app-sidebar>
    </div>

    <!-- Main content area -->
    <!-- <div [class.col-md-10]="isAuthenticated" [class.col-md-12]="!isAuthenticated" class="bg-white"> -->
    <!-- <app-notification></app-notification> -->

    <!-- <app-breadcrumb></app-breadcrumb> -->

    <!-- Routed content goes here -->
    <router-outlet></router-outlet>

    <!-- <app-footer></app-footer> -->
  </div>
</div>
<!-- </div>
</div> -->