<!-- Footer -->
<footer class="bg-dark text-white mt-5">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">About</a></li>
          <li><a href="#" class="text-white">Services</a></li>
          <li><a href="#" class="text-white">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Facebook</a></li>
          <li><a href="#" class="text-white">Twitter</a></li>
          <li><a href="#" class="text-white">Instagram</a></li>
          <li><a href="#" class="text-white">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer starts -->
  <footer class="bg-success p-1 text-center">
    <div class="container">
      <p class="text-white mt-3" id="copyright">All Right Reserved By <a class="navbar-brand" href="#"> <span
            class="text-warning">IsDB</span><span class="text-danger">-</span><span class="text-light">BISEW</span>
        </a>
        <br>
        Copyright 2024
      </p>
    </div>
  </footer>
  <!-- footer ends -->
</footer>
<!-- 
</body>

</html> -->