.submenu-list {
  display: none;
  list-style: none;
  padding-left: 18px;
  color: rgb(24, 205, 255);
}

.submenu-toggle.active+.submenu-list {
  display: block;
}

.submenu-toggle::after {
  content: '\25BC';
  /* Down arrow */
  float: right;
}

.submenu-toggle.active::after {
  content: '\25B2';
  /* Up arrow */
}

.collapse {
  transition: height 0.3s ease;
  overflow: hidden;
}

.collapse.show {
  display: block;
}