<div class="container mt-5">
  <h2 class="text-center mb-4">Employee Details</h2>
  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>
  <div *ngIf="employee">
    <div class="row">
      <div class="col-md-6">
        <p><strong>ID:</strong> {{ employee.id }}</p>
        <p><strong>Name:</strong> {{ employee.firstName }} {{ employee.lastName }}</p>
        <p><strong>Email:</strong> {{ employee.email }}</p>
        <p><strong>Contact:</strong> {{ employee.contact }}</p>
        <p><strong>Gender:</strong> {{ employee.gender }}</p>
        <p><strong>Joining Date:</strong> {{ employee.joiningDate | date }}</p>
        <p><strong>Position:</strong> {{ employee.position }}</p>
        <p><strong>Salary:</strong> {{ employee.salary }}</p>
        <p><strong>Department:</strong> {{ employee.department.departmentName }}</p>
        <p><strong>Location:</strong> {{ employee.location.locationName }}</p>
      </div>
      <div class="col-md-6">
        <img *ngIf="employee.profilePhoto" [src]="employee.profilePhoto" alt="Profile Photo"
          class="img-fluid rounded-circle" />
      </div>
    </div>
    <button class="btn btn-primary mt-4" (click)="goBack()">Back to List</button>
  </div>
</div>