<h2 class="container text-center text-success">Create Location</h2>

<div class="container">
  <form [formGroup]="formValue">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Location Name</label>
      <input type="text" class="form-control" formControlName="name">

    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">City</label>
      <input type="text" class="form-control" formControlName="city">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">State</label>
      <input type="text" class="form-control" formControlName="state">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Photo URL</label>
      <input type="text" class="form-control" formControlName="profilePhoto">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Available Units</label>
      <input type="text" class="form-control" formControlName="availableUnits">
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="wifi">
      <label for="exampleInputPassword1" class="form-label">WiFi</label>

    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" formControlName="laundry">
      <label for="exampleInputPassword1" class="form-label">Laundry</label>
    </div>

    <button type="submit" class="btn btn-primary" (click)=" createLocation()">Submit</button>
  </form>

</div>