<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid ">
    <a class="navbar-brand" href="home.jsp">TRaj</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="">Registration Form</a></li>
        <li class="nav-item"><a class="nav-link" href="">Registered Student</a></li>
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false"> Add Course </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else
                here</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link">Sign up</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="text-center text-danger"> Content Title Show Here</h1>
</div>

<div class="text-center text-success">
  <h1>Hello Dear "User Name Show Here"!!</h1>
  <h2>Hello Dear "User Name Show Here"!!</h2>

  <h3>Hello Dear "User Name Show Here"!!</h3>
  <h4>Hello Dear "User Name Show Here"!!</h4>

  <h5>Hello Dear "User Name Show Here"!!</h5>
  <h6>Hello Dear "User Name Show Here"!!</h6>

</div>

<div class="text-center text-primary">
  <h1>Hello Dear "User Name Show Here"!!</h1>
  <h2>Hello Dear "User Name Show Here"!!</h2>

  <h3>Hello Dear "User Name Show Here"!!</h3>
  <h4>Hello Dear "User Name Show Here"!!</h4>

  <h5>Hello Dear "User Name Show Here"!!</h5>
  <h6>Hello Dear "User Name Show Here"!!</h6>
</div>

<!-- <nav class="navbar navbar-expand-lg bg-dark">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">|||</span>
  </button> </nav> -->

<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
  <div class="navbar-nav ml-auto">
    <a class="nav-link" routerLink="/student" routerLinkActive="itemActive">Student list</a>
    <a class="nav-link" routerLink="/create" routerLinkActive="itemActive">Add New Student</a>
    <!-- <a class="nav-link" routerLink="/update" routerLinkActive="itemActive"></a> -->
    <!-- <a class="nav-link" routerLink="/" routerLinkActive="itemActive"></a> -->
    <!-- <a class="nav-link" routerLink="/" routerLinkActive="itemActive"></a> -->
  </div>
</div>


<router-outlet> </router-outlet>


<div class="container">


  <footer class="row row-cols-5 py-5 my-5 border-top text-white">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <p class="text-muted ">All Right Reserved 2024 ©TamimAhmedRaju</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Section</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
      </ul>
    </div>
  </footer>

</div>