<div class="container mt-5">
  <h2 class="text-center mb-4">Department Details</h2>
  <div *ngIf="department">
    <div class="department-details">
      <p><strong>Department Name:</strong> {{ department.departmentName }}</p>
      <p><strong>Description:</strong> {{ department.description }}</p>
      <p><strong>Head of Department:</strong> {{ department.headOfDepartment.firstName }} {{
        department.headOfDepartment.lastName }}</p>
      <p><strong>Number of Employees:</strong> {{ department.numberOfEmployees }}</p>
      <p><strong>Payroll Calculation Method:</strong> {{ department.payrollCalculationMethod }}</p>
      <p><strong>Overtime Rules:</strong> {{ department.overtimeRules }}</p>
      <p><strong>Location:</strong> {{ department.location.locationName }}</p>
    </div>
    <button class="btn btn-primary" (click)="goBack()">Back</button>
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger mt-3">
    {{ errorMessage }}
  </div>
</div>