/* .top {
  text-align: center;
  font-size: 3em;
  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
}

h1 {
  color: rgb(7, 166, 215);
  text-shadow: black;

} */

.navbar {
  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
}

.navbar-brand {
  color: rgb(7, 200, 255);
  font-size: 3em;
  font-weight: bold;
  margin: 0em 2em 0em 1em;
  font-family: cursive, Cochin, Georgia, Times, 'Times New Roman', serif, Helvetica, sans-serif;
}

/* .navbar .navbar-nav .nav-link:hover {
  color: crimson;
}

.navbar-logo-centered .navbar-nav .nav-link {
  padding: .5em 1em;
} */