<div class="container">
    <h2 class="text-center">Student List </h2>
    <br>
    <table class="table table-responsive-sm table-striped text-center">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Cell No</th>
                <th>Action</th>
            </tr>
        </thead>
        <!-- <tbody>
             <tr *ngFor="let student of students">
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.address}}</td>
                <td>{{student.cell}}</td>
                <td>
                    <button (click)="updateStudent(student.id)" class="btn btn-primary btn-sm buttons">Update</button>
                    <button (click)="deleteStudent(student.id)" class="btn btn-danger btn-sm buttons">Delete</button>
                    <button (click)="detailsStudent(student.id)" class="btn btn-info btn-sm buttons">Details</button></td>
            </tr>
        </tbody>-->
    </table>
</div>