<div class="container">
  <h2 class="container text-center text-success">Location List</h2>
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Location Name</th>
        <th>City</th>
        <th>State</th>
        <th>Unit</th>
        <th>Photo</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let location of locations | async">
        <td>{{location.name}}</td>
        <td>{{location.city}}</td>
        <td>{{location.state}}</td>
        <td>{{location.availableUnits}}</td>
        <td><img [src]="location.photo" alt="{{location.name}}" style="border-radius: 1rem; width: 50px; height: 50px;">
        </td>

        <td class="">
          <button class="btn btn-outline-info" (click)="updateLocation(location.id)">Edit</button>
        </td>
        <td>
          <button class="btn btn-outline-danger" (click)="deleteLocation(location.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row container">
    <ul class="list-group ">
      <li class="d-flex py-3">
        <button class="btn btn-info text-white me-5 " routerLink="/createstudent">Create New Student</button>

        <button class="btn btn-success me-5 " routerLink="/createlocation">Create New Location</button>
      </li>
    </ul>
  </div>
</div>