<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="text-center">Log In</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- Form fields go here -->
            <div class="form-group mb-3">
              <label for="email">Email</label>
              <input type="text" id="email" formControlName="email" class="form-control" />
            </div>
            <div class="form-group mb-3">
              <label for="password">Password</label>
              <input type="password" id="password" formControlName="password" class="form-control" />
            </div>
            <!-- Add more form fields as needed -->

            <div class="form-group text-center mb-3">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>