.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

dl.row {
  margin-bottom: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 20px;
}
