<div>
  <div class="container">
    <h2 class="container text-center text-success"> Registered Students List</h2>
    <ul class="list-group">
      <li *ngFor="let student of students" class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          Name: <strong>{{ student.name }}</strong>
          Email: {{ student.email }}
          <div>
            <em>Location: </em> {{ student.location.name }}, {{ student.location.city }} <br>
            <em>Cell No: </em> {{ student.cellNo}}
          </div>
        </div>
        <div>
          <button class="btn btn-sm btn-info text-white me-2" (click)="editStudent(student)">Edit</button>
          <button class="btn btn-sm btn-danger me-2" (click)="deleteStudent(student.id)">Delete</button>
        </div>
      </li>
    </ul>
    <ul class="add-student ">
      <li class="d-flex me-5 py-3">
        <button class="btn btn-success" routerLink="/createstudent">Add New Student</button>
      </li>
    </ul>
  </div>
  <button printSectionId="print-section" ngxPrint>print</button>
</div>