<div class="container">
  <form (ngSubmit)="updateLocation()">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Location Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="location.locationName">

    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Address Line</label>
      <input type="text" class="form-control" name="addressLine" [(ngModel)]="location.addressLine">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">City</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="location.city">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">State</label>
      <input type="text" class="form-control" name="state" [(ngModel)]="location.state">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Postal Code</label>
      <input type="text" class="form-control" name="postalCode" [(ngModel)]="location.postalCode">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Country Name</label>
      <input type="text" class="form-control" name="countryName" [(ngModel)]="location.countryName">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Photo</label>
      <input type="text" class="form-control" name="photo" [(ngModel)]="location.photo">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>