<div class="profile-form container">
  <h2 class="container text-center text-success">Profile Registration Form </h2>
  <form [formGroup]="regForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" placeholder="Enter name"
        required="required">
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email"
        required="required">
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password"
        required="required">
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select id="role" formControlName="role" class="form-select" [disabled]="true">
        <option value="User" selected>User</option>
        <!-- <option value="Admin">Admin</option> -->
      </select>
    </div>

    <div class="mb-3">
      <label for="profilePhoto" class="form-label">Profile Photo URL</label>
      <input type="text" id="profilePhoto" formControlName="profilePhoto" class="form-control"
        placeholder="Enter profile photo URL" required="required">
    </div>

    <!-- if upload from localstorage -->

    <!-- <div class="form-group">
      <label for="profilePhoto" class="form-label">Profile Photo</label>
      <input type="file" id="profilePhoto" (change)="onFileSelected($event)" formControlName="profilePhoto">
    </div> -->

    <button type="submit" class="btn btn-primary">Create User</button>

  </form>
</div>