<div class="back">
  <a href="#" class="btn-back">
    <div>
      <svg width="16px" height="14px" viewBox="0 0 16 14">
        <path d="M1,7 L15,7"></path>
        <polyline points="7 1 1 7 7 13"></polyline>
      </svg>
    </div>
    <span>Back</span>
  </a>
  <div class="menu-back">
    <ul class="nav-history">
      <li><a href="#">Home</a></li>
      <li><a href="#">Components</a></li>
      <li class="active"><a href="#">Pure CSS Breadcrumb</a></li>
    </ul>
    <ul class="nav-links">
      <li><a href="#">Blog</a></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</div>